---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  {% if site.posts.size == 0 %}
  <p>Not much to see here... Come back later or you can check <a href="{{ "/memento/" | relative_url }}">Memento pages</a>.</p>
  {% endif %}
</div>
