---
layout: page
title: Dublin
sections:
  - menu
libs:
  - jquery
  - jquery.dataTables
order: 200
---

<p>List of companies in Dublin that have Software Engineering positions. The list is not complete and the information about the companies could be incorrect, outdated, and/or incomplete.<br>
If you wanna help to extend the list or just to fix incorrect information feel free to create <a href="https://gitlab.com/dtrsan/418l.pw/tree/master/src/assets/data/dublin.companies.json">a pull request</a>. Cheers!
</p>

<h2>Companies in Dublin</h2>

<table id="companiesTable" class="display" width="100%">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Employees</th>
      <th>Location</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Employees</th>
      <th>Location</th>
    </tr>
  </tfoot>
</table>

<style>
#companiesTable td.details-control {
    background: url('{{ "/assets/img/details_open.png" | relative_url }}') no-repeat center center;
    cursor: pointer;
}
#companiesTable tr.shown td.details-control {
    background: url('{{ "/assets/img/details_close.png" | relative_url }}') no-repeat center center;
}

#companiesTable .details {
    border-spacing: 0;
    border: none;
    width: 100%;
}
#companiesTable .details td {
    padding: 10px;
}

#companiesTable .details td:first-child {
    font-weight: bold;
}

.details-control {
    width: 20px;
}

</style>

<script type="text/javascript">
$(document).ready(function() {
    function formatLabel(str) {
        return $.map(str.split('_'), function(val) {
            return val.charAt(0).toUpperCase() + val.slice(1).toLowerCase();
        }).join(' ');
    }

    function format (rowData) {
        var headers = ["name", "employees", "location"];
        var cell = '<table class="details">';
        for(var key in rowData) {
            if ($.inArray(key, headers) != -1) {
                continue;
            }
            cell +=
              '<tr>'+
               '<td>' + formatLabel(key) + ':</td>'+
               '<td>' + rowData[key] + '</td>'+
              '</tr>';
        }
        cell += '</table>';
        return cell;
    }

    var table = $('#companiesTable').DataTable({
        "ajax": "{{ "/assets/data/dublin.companies.json" | relative_url }}",
        columns: [
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            },
            { "data": "name" },
            { "data": "employees" },
            { "data": "location" },
            { "data": "technologies", "visible": false },
            { "data": "jobs", "visible": false },
            { "data": "web", "visible": false },
            { "data": "office_address", "visible": false }
        ],
        "order": [[1, 'asc']]
    });

    $('#companiesTable tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);
        if (row.child.isShown()) {
            row.child.hide();
            tr.removeClass('shown');
        } else {
            row.child(format(row.data())).show();
            tr.addClass('shown');
        }
    });

});
</script>

