---
layout: page
title: Memento
order: 10
sections:
  - menu
permalink: /memento/
---

<p>Notes, tips &amp; tricks, configuration snippets, code snippets, one-liners, hacks, HOW-TOs...</p>

<ul>
{% assign pages = site.pages | sort:"title"  %}
{% for my_page in pages %}
  {% if my_page.title and my_page.sections contains 'memento' %}
  <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
  {% endif %}
{% endfor %}
</ul>

