---
layout: page
title: Build information
order: 100
---

<table id="build-information">
<thead>
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>
</thead>
<tbody>
{% for info in site.build_information %}
  <tr>
    <td>{{ info[0] | escape }} </td>
    <td>{{ info[1] | escape }} </td>
  </tr>
{% endfor %}
</tbody>
</table>

